<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Label is</th>
      <th>Label en</th>
      <th>Body is</th>
      <th>Body en</th>
      <th>Image</th>
      <th>Youtube</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.label_is %></td>
        <td><%= article.label_en %></td>
        <td><%= article.body_is %></td>
        <td><%= article.body_en %></td>
        <td><%= article.image %></td>
        <td><%= article.youtube %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
