<p id="notice"><%= notice %></p>

<p>
  <strong>Label is:</strong>
  <%= @article.label_is %>
</p>

<p>
  <strong>Label en:</strong>
  <%= @article.label_en %>
</p>

<p>
  <strong>Body is:</strong>
  <%= @article.body_is %>
</p>

<p>
  <strong>Body en:</strong>
  <%= @article.body_en %>
</p>

<p>
  <strong>Image:</strong>
  <%= @article.image %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @article.youtube %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
