<p id="notice"><%= notice %></p>

<p>
  <strong>Info is:</strong>
  <%= @information.info_is %>
</p>

<p>
  <strong>Info en:</strong>
  <%= @information.info_en %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
