<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('<%= image_url('DSCF9508.jpg') %>')" class="background-home">
  <div class="flex-child-column">
    <div class="flex-item-1 flex-align-self-center">
      <h2 class=""><%= I18n.t "race.starts" %></h2>
    </div>
    <br>
    <div id="registrationClock" class="flex-item-1 flex-child-row flex-wrap">
      <div class="clock flex-item-1 flex-child-column flex-align-center">
        <h1 class="days flex-item-1"></h1>
        <h4 class"flex-item-1"><%= I18n.t "clock.days" %></h4>
      </div>
      <div class="clock flex-item-1 flex-child-column flex-align-center">
        <h1 class="hours flex-item-1"></h1>
        <h4 class"flex-item-1"><%= I18n.t "clock.hours" %></h4>
      </div>
      <div class="clock flex-item-1 flex-child-column flex-align-center">
        <h1 class="minutes flex-item-1"></h1>
        <h4 class"flex-item-1"><%= I18n.t "clock.minutes" %></h4>
      </div>
      <div class="clock flex-item-1 flex-child-column flex-align-center">
        <h1 class="seconds flex-item-1"></h1>
        <h4 class"flex-item-1"><%= I18n.t "clock.seconds" %></h4>
      </div>
    </div>
    <div class="flex-child-row flex-wrap">
      <% @indexVideos.each do |video| %>
        <div class="flex-item-1 flex-child-column flex-align-center video-container">
          <iframe width="355" height="200" src="<%= video.youtube %>" frameborder="0" allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
  </div>
</div>
