<div class="container results">
  <%= select_tag 'groups', options_for_select(@groups.collect{ |u| [u.name, u.name] }) %>
  <div class="flex-child-row">
    <div class="flex-item-1"><b>Sæti</b></div>
    <div class="flex-item-3"><b>Keppendur</b></div>
    <div class="flex-item-3"><b>Flokkur</b></div>
    <div class="flex-item-3"><b>Heildartími</b></div>
    <div class="flex-item-3"><b>Hringir</b></div>
  </div>

  <div class="flex-child-column">
    <%
      counter = 1;
      @competitors.each do |competitor|
    %>
      <div class="flex-1 flex-child-column closed-div" data-result-id="<%= competitor.id %>" data-group="<%= competitor.group.name %>">
        <div class="flex-item-1 flex-child-row">
          <div class="flex-item-1 counting-place"><%= counter %></div>
          <div class="flex-item-3"><%= competitor.name %></div>
          <div class="flex-item-3"><%= competitor.group.name %></div>
          <div class="flex-item-3"><%= competitor.total_time.strftime("%H:%M:%S") %></div>
          <div class="flex-item-3"><%= competitor.laps %></div>
        </div>


        <div class="flex-item-1 flex-child-row">
          <% competitor.laptimes.each do |lap| %>
            <div class="flex-item-1"><b><%= lap.lap_number %>.</b> <%= lap.laptime %></div>
          <% end %>
        </div>
      </div>
    <%
      counter = counter + 1
      end
    %>
  </div>
</div>
