<p id="notice"><%= notice %></p>

<h1>Competitors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Laps</th>
      <th>Total time</th>
      <th>Finish time</th>
      <th>Place in group</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitors.each do |competitor| %>
      <tr>
        <td><%= competitor.name %></td>
        <td><%= competitor.group %></td>
        <td><%= competitor.laps %></td>
        <td><%= competitor.total_time %></td>
        <td><%= competitor.finish_time %></td>
        <td><%= competitor.place_in_group %></td>
        <td><%= competitor.year %></td>
        <td><%= link_to 'Show', competitor %></td>
        <td><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
        <td><%= link_to 'Destroy', competitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competitor', new_competitor_path %>
